#blogs-bread-crumb {
  background: #f6f6f6;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}

.breadcrumb-item {
  color: #666;
}

.breadcrumb-item > a {
  color: #666;
}

.breadcrumb-item > a:hover {
  text-decoration: none;
}