.sl-gurantee-container {
  padding: 3% 1% 3% 1%;
}

.sl-gurantee-heading {
  font-size: 30px;
  font-weight: 640;
  color: #203260;
  padding-bottom: 10px;
}
.sl-gurantee-para {
  font-size: 17px;
  font-weight: normal;
  color: #000;
  font-family: Roboto;
}
.sl-list-heading {
  font-size: 18px;
  font-weight: 500;
  color: #203260;
}
.ul-list {
  line-height: 35px;
}
.ul-list > li > span > i {
  color: red;
  font-size: 20px;
}

.ul-list > li {
  font-size: 15px;
}
