.offer-container {
  padding: 3%;
}
.offer-inner-container {
  line-height: 3rem;
  border-radius: 20px;
}

.x-large-text {
  font-size: 5rem;
  font-weight: bold;
}

.offer-section-button {
  border-radius: 15px;
}
.off-percent-text {
  font-size: 60px;
  font-weight: bold;
}
.offer-main-heading {
  font-family: 'Lato';
  font-size: 3rem;
  font-weight: bold;
}
@media only screen and (max-width: 750px) {
  .offer-main-heading {
    font-family: 'Lato';
    font-size: 2rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 400px) {
  .offer-inner-container {
    line-height: 2.4rem;

    padding: 2%;
  }
  .offer-section-button {
    padding: 1%;
  }
  .off-percent-text {
    font-size: 45px;
    font-weight: bold;
  }
}
